<!DOCTYPE html>
<html ng-app="sampleApp">
  <head>`
      <title>MEAN Boilerplate</title>
      <script src="/javascripts/vendor/angular.min.js"></script>
      <script src="/javascripts/vendor/angular-bootstrap.min.js"></script>

      <link rel='stylesheet' href='/stylesheets/vendor/bootstrap.css' />
      <link rel='stylesheet' href='/stylesheets/vendor/bootstrap-responsive.css' />

      <link rel='stylesheet' href='/stylesheets/style.css' />
      <link rel='stylesheet' href='/stylesheets/app/app.css' />

      <script src="/javascripts/app/app.js"></script>
      <script src="/javascripts/app/controllers/appController.js"></script>
      <script src="/javascripts/app/controllers/studentController.js"></script>
  </head>
  <body>

  <div class="container">

      <h1>MEAN Boilerplate</h1>
      <!--
          All views will be displayed here
      -->
      <div ng-view></div>

  </div>
  </body>
</html>